<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<head th:replace="html/header :: head">
	<meta charset="UTF-8" />
	<title>Concepto Facturable</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<link rel="shortcut icon" th:href="@{/img/icons/favicon.ico}" />

	<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
	<link rel="stylesheet" type="text/css"
		href="../../css/jquery.fileupload.css"
		th:href="@{/css/jquery.fileupload.css}" />
	<link rel="stylesheet" type="text/css"
		href="../../css/jquery.fileupload-ui.css"
		th:href="@{/css/jquery.fileupload-ui.css}" />
	
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" media="screen"
		href="../../css/bootstrap.css" 
		th:href="@{/css/bootstrap.css}" />
	<link rel="stylesheet" type="text/css" media="screen"
		href="../../css/bootstrap-sticky-footer.css" 
		th:href="@{/css/bootstrap-sticky-footer.css}" />

	<!-- app -->
	<link rel="stylesheet" type="text/css" media="screen"
		href="../../css/app.css" 
		th:href="@{/css/app.css}" />

	<!-- dropzone -->
	<link rel="stylesheet" type="text/css" media="screen"
		href="../../css/dropzone.css" 
		th:href="@{/css/dropzone.css}" />

	<!-- datepicker -->
	<link rel="stylesheet" type="text/css" media="screen"
		href="../../css/bootstrap-datepicker.css" 
		th:href="@{/css/bootstrap-datepicker.css}" />
	
	<title data-th-text="#{app.name}">Titulo</title>

</head>
<body>

<!-- Docs master nav -->
<div th:replace="html/header :: header">
	<div class="navbar navbar-inverse navbar-static-top bs-docs-nav"
	id="top" role="banner" th:fragment="header">	
		<div class="container">
			<div class="navbar-header">
				<a th:href="@{/index.jsp}" class="navbar-brand" 
					data-th-text="#{app.name}">AAEE</a>
			</div>
			<div class="collapse navbar-collapse bs-navbar-collapse"
				role="navigation">
				<ul class="nav navbar-nav">
					<li class="active"><a
						th:href="@{/index.jsp}"
						data-th-text="#{go.home}">Go Home
					</a></li>
	
					<li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" > 
							<span data-th-text="#{menu.informes}">menu.informes</span>
							<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a
									th:href="@{/role/pages/1}" data-th-text="#{role.form.list.title}">
										role.form.list.title
								</a></li>
								<li><a
									th:href="@{/usuario/pages/1}" data-th-text="#{usuario.form.list.title}">
										usuario.form.list.title
								</a></li>
								<li class="divider"></li>
								<li><a
									th:href="@{/consulta/pages/1}" data-th-text="#{consulta.form.list.title}">
										consulta.form.list.title
								</a></li>
								<li><a
									th:href="@{/pestanya/pages/1}" data-th-text="#{pestanya.form.list.title}">
										pestanya.form.list.title
								</a></li>
								<li><a
									th:href="@{/informe/pages/1}" data-th-text="#{informe.form.list.title}">
										informe.form.list.title
								</a></li>
								<li><a
									th:href="@{/regladenegocio/pages/1}" data-th-text="#{regladenegocio.form.list.title}">
										regladenegocio.form.list.title
								</a></li>
							</ul></li>
			
				</ul>
			</div>
		</div>
	</div>
</div>

<div id="wrap">
	<div class="container">
	
		<div th:replace="html/breadcrumb :: breadcrumb('cecos')"></div>
	
		<form method="post" class="form-horizontal"
			th:action="@{/acuerdoceco/edit/{id}(id=${ceco.id})}" 
			th:object="${ceco}">

					<div class="form-group">
						<label for="id" class="col-sm-2 control-label" th:text="#{acuerdoceco.form.field.id}">
							ID
						</label>
						<div class="col-sm-2">
							<input id="id" name="id" type="text" 
							class="form-control input-sm" 
							th:field="${ceco.id}" 
							value="123456789" 
							th:disabled="disabled"
							disabled="disabled"
							/>
						</div> 
					</div>
			
			
					<div class="form-group">
						<label for="tipoDeServicio" class="col-sm-2 control-label" th:text="#{acuerdoceco.form.field.tipoDeServicio}">
							Tipo de Servicio
						</label>
						<div class="col-sm-1">
							<input id="tipoDeServicio" name="tipoDeServicio" type="text" 
							class="form-control input-sm" 
							th:field="${ceco.tipoDeServicio}" 
							value="Tipo de Servicio" 
							th:disabled="disabled"
							disabled="disabled"
							/>
						</div> 
						<div class="col-sm-9">
							<input id="descTipoDeServicio" name="descTipoDeServicio" type="text" 
							class="form-control input-sm" 
							th:field="${ceco.descTipoDeServicio}" 
							value="Desc.Tipo de Servicio" 
							th:disabled="disabled"
							disabled="disabled"
							/>
						</div> 
					</div>
			
					<div class="form-group">
						<label for="multiconexion" class="col-sm-2 control-label" th:text="#{acuerdoceco.form.field.multiconexion}">
							Multiconexión
						</label>
						<div class="col-sm-10">
							<input id="multiconexion" name="multiconexion" type="text" 
							class="form-control input-sm" 
							th:field="${ceco.multiconexion}" 
							value="0810000-00-1234567" 
							th:disabled="disabled"
							disabled="disabled"
							/>
						</div> 
					</div>
			
					<div class="form-group">
						<label for="numeroComercial" class="col-sm-2 control-label" th:text="#{acuerdoceco.form.field.numeroComercial}">
							Número Comercial
						</label>
						<div class="col-sm-10">
							<input id="numeroComercial" name="numeroComercial" type="text" 
							class="form-control input-sm" 
							th:field="${ceco.numeroComercial}" 
							value="0810000-1234567" 
							th:disabled="disabled"
							disabled="disabled"
							/>
						</div> 
					</div>
			
					<div class="form-group">
						<label for="numeroComercialAsociado" class="col-sm-2 control-label" th:text="#{acuerdoceco.form.field.numeroComercialAsociado}">
							Número Comercial Asociado
						</label>
						<div class="col-sm-10">
							<input id="numeroComercialAsociado" name="numeroComercialAsociado" type="text" 
							class="form-control input-sm" 
							th:field="${ceco.numeroComercialAsociado}" 
							value="0810000-1234567" 
							th:disabled="disabled"
							disabled="disabled"
							/>
						</div> 
					</div>
			
			
					<div class="form-group">
						<label for="cargo" class="col-sm-2 control-label" th:text="#{acuerdoceco.form.field.cargo}">
							Cargo
						</label>
						<div class="col-sm-2">
							<input id="cargo" name="cargo" type="text" 
							class="form-control input-sm" 
							th:field="${ceco.cargo}" 
							value="001" 
							th:disabled="disabled"
							disabled="disabled"
							/>
						</div> 
					</div>
			
			
					<div class="form-group">
						<label for="ceco01" class="col-sm-2 control-label" th:text="#{acuerdoceco.form.field.ceco01}">
							CECO 01
						</label>
						<div class="col-sm-2">
							<input id="ceco01" name="ceco01" type="text" 
							class="form-control input-sm" 
							th:field="${ceco.ceco01}" 
							value="ceco01" 
							th:disabled="disabled"
							disabled="disabled"
							/>
						</div> 
					</div>
					
					<div class="form-group">
						<label for="ceco02" class="col-sm-2 control-label" th:text="#{acuerdoceco.form.field.ceco02}">
							CECO 02
						</label>
						<div class="col-sm-2">
							<input id="ceco02" name="ceco02" type="text" 
							class="form-control input-sm" 
							th:field="${ceco.ceco02}" 
							value="ceco02" 
							th:disabled="disabled"
							disabled="disabled"
							/>
						</div> 
					</div>
					
					<div class="form-group">
						<label for="ceco03" class="col-sm-2 control-label" th:text="#{acuerdoceco.form.field.ceco03}">
							CECO 03
						</label>
						<div class="col-sm-2">
							<input id="ceco03" name="ceco03" type="text" 
							class="form-control input-sm" 
							th:field="${ceco.ceco03}" 
							value="ceco03" 
							th:disabled="disabled"
							disabled="disabled"
							/>
						</div> 
					</div>
					
					<div class="form-group">
						<label for="ceco04" class="col-sm-2 control-label" th:text="#{acuerdoceco.form.field.ceco04}">
							CECO 04
						</label>
						<div class="col-sm-2">
							<input id="ceco04" name="ceco04" type="text" 
							class="form-control input-sm" 
							th:field="${ceco.ceco04}" 
							value="ceco04" 
							th:disabled="disabled"
							disabled="disabled"
							/>
						</div> 
					</div>
					
					<div class="form-group">
						<label for="ceco05" class="col-sm-2 control-label" th:text="#{acuerdoceco.form.field.ceco05}">
							CECO 05
						</label>
						<div class="col-sm-2">
							<input id="ceco05" name="ceco05" type="text" 
							class="form-control input-sm" 
							th:field="${ceco.ceco05}" 
							value="ceco05" 
							th:disabled="disabled"
							disabled="disabled"
							/>
						</div> 
					</div>
					
					<div class="form-group form-param">
				    	<div class="col-md-offset-4 col-md-4">
						    <p class="text-center">
							    <a th:href="@{/acuerdo/ceco/{id}/1(id=${ceco.idAcuerdo})}"
								    id="btn-back" class="btn btn-default"  th:text="#{acuerdoceco.form.btn.back}"> Atrás
							    </a>
						    </p>
  						</div>
  					</div>
					
					 <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
			
		</form>
	
	</div><!-- .container -->	
</div><!-- #wrap -->	
	
<div th:replace="html/footer :: footer">

	<div id="footer" th:fragment="footer">
		<div class="container">
			<p class="text-muted credit" data-th-text="#{app.name}">
				footer
			</p>


	
		<!--[if lt IE 9]>
			<script 
				src="../../js/jquery-1.11.2.min.js"
				th:src="@{/js/jquery-1.11.2.min.js}"></script>
		<![endif]-->
		
		<!--[if gte IE 9]> 
			<script 
				src="../../js/jquery-2.1.1.min.js"
				th:src="@{/js/jquery-2.1.1.min.js}"></script>
		<![endif]-->
		
		<!--[if !IE]> -->
			<script 
				src="../../js/jquery-2.1.1.min.js"
				th:src="@{/js/jquery-2.1.1.min.js}"></script>
		<!-- <![endif]-->
		
			
			<script src="../../js/bootstrap.js"
				th:src="@{/js/bootstrap.js}"></script>
			<script src="../../js/jquery-ui.js"
				th:src="@{/js/jquery-ui.js}"></script>
			<script src="../../js/heartcode-canvasloader-min.js"
				th:src="@{/js/heartcode-canvasloader-min.js}"></script>
			<script src="../../js/bootstrap-datepicker.js"
				th:src="@{/js/bootstrap-datepicker.js}"></script>
			<script src="../../js/bootstrap-datepicker.es.js"
				th:src="@{/js/locales/bootstrap-datepicker.es.js}" charset="UTF-8"></script>
			<script src="../../js/bootstrap-datepicker.ca.js"
				th:src="@{/js/locales/bootstrap-datepicker.ca.js}" charset="UTF-8"></script>
			
		</div>
	</div>

</div>


</body>
</html>