<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:fragment="head" >
	<meta charset="UTF-8" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />


	<link rel="shortcut icon" th:href="@{/img/icons/favicon.ico}" />

	<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
	<link rel="stylesheet" type="text/css"
		href="../../css/jquery.fileupload.css"
		th:href="@{/css/jquery.fileupload.css}" />
	<link rel="stylesheet" type="text/css"
		href="../../css/jquery.fileupload-ui.css"
		th:href="@{/css/jquery.fileupload-ui.css}" />
	
	
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" media="screen"
		href="../../css/bootstrap.css" 
		th:href="@{/css/bootstrap.css}" />
	<link rel="stylesheet" type="text/css" media="screen"
		href="../../css/bootstrap-sticky-footer.css" 
		th:href="@{/css/bootstrap-sticky-footer.css}" />


	<!-- app -->
	<link rel="stylesheet" type="text/css" media="screen"
		href="../../css/app.css" 
		th:href="@{/css/app.css}" />

	<!-- dropzone -->
	<link rel="stylesheet" type="text/css" media="screen"
		href="../../css/dropzone.css" 
		th:href="@{/css/dropzone.css}" />

	<!-- datepicker -->
	<link rel="stylesheet" type="text/css" media="screen"
		href="../../css/bootstrap-datepicker.css" 
		th:href="@{/css/bootstrap-datepicker.css}" />
	
	
	<title data-th-text="#{app.name}">Titulo</title>
	
	

</head>
<body>
	<div class="navbar navbar-inverse navbar-static-top bs-docs-nav"
	id="top" role="banner" th:fragment="header">	
		<div class="container">
			<div class="navbar-header">
				<a th:href="@{/index.jsp}" class="navbar-brand" 
					data-th-text="#{app.name}">AAEE</a>
			</div>
			<div class="collapse navbar-collapse bs-navbar-collapse"
				role="navigation">
				<ul class="nav navbar-nav">
					<li class="active"><a
						th:href="@{/index.jsp}"
						data-th-text="#{go.home}">Go Home
					</a></li>
	
					<li><a href="#about" th:href="@{/}" th:text="#{go.about}">go.about</a></li>
					<li><a href="#contact" th:href="@{/}" th:text="#{go.contact}">go.contact</a></li>

				</ul>
				
				<ul class="nav navbar-nav navbar-right">

					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<img th:src="@{/img/icons/lang_es.png}" />
						<b class="caret"></b></a>
						<ul class="dropdown-menu">
	
							<li><a href="?lang=en"><img
									th:src="@{/img/icons/lang_en.png}" /></a>
							</li>
							<li><a href="?lang=es"><img
									th:src="@{/img/icons/lang_es.png}" /></a>
							</li>
							<li><a href="?lang=ca"><img
									th:src="@{/img/icons/lang_ca.png}" /></a>
							</li>
						</ul>
					</li>
					
					<li class="btn-vertical-align-middle" sec:authorize="isAuthenticated()">
					
							<form class="form-inline"
								th:action="@{/logout}" method="POST">
								<div>&nbsp;</div>
								<button type="submit" class="btn btn-xs btn-vertical-align-middle">
									<span class="glyphicon glyphicon-off"></span> 
									<span sec:authentication="principal.username" >Usuario</span>
								</button>
								<input type="hidden" th:name="${_csrf.parameterName}"
									th:value="${_csrf.token}" />
							</form>
					</li>
				</ul>
				
				
			</div>
		</div>
	</div>
	
</body>
</html>