<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="html/header :: head">
	<meta charset="UTF-8" />
	<title th:text="#{app.name}">Marte</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />


	<link rel="shortcut icon" th:href="@{/img/icons/favicon.ico}" />

	<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
	<link rel="stylesheet" type="text/css"
		href="../../css/jquery.fileupload.css"
		th:href="@{/css/jquery.fileupload.css}" />
	<link rel="stylesheet" type="text/css"
		href="../../css/jquery.fileupload-ui.css"
		th:href="@{/css/jquery.fileupload-ui.css}" />
	
	
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" media="screen"
		href="../../css/bootstrap.css" 
		th:href="@{/css/bootstrap.css}" />
	<link rel="stylesheet" type="text/css" media="screen"
		href="../../css/bootstrap-sticky-footer.css" 
		th:href="@{/css/bootstrap-sticky-footer.css}" />


	<!-- app -->
	<link rel="stylesheet" type="text/css" media="screen"
		href="../../css/app.css" 
		th:href="@{/css/app.css}" />

	<!-- dropzone -->
	<link rel="stylesheet" type="text/css" media="screen"
		href="../../css/dropzone.css" 
		th:href="@{/css/dropzone.css}" />

	<!-- datepicker -->
	<link rel="stylesheet" type="text/css" media="screen"
		href="../../css/bootstrap-datepicker.css" 
		th:href="@{/css/bootstrap-datepicker.css}" />
	
</head>

<body>
	<!-- Docs master nav -->
	<div th:replace="html/header :: header"></div>

	<div id="wrap">

		<div class="container">
		
			<div id="left" class="col-md-10">
			
				<div th:replace="html/findcif/findCif-search :: search"></div>
			
				<div id="info-condiciones-fechas" class="col-md-12">
				
					<div class="well">
						<p>La aplicación <b>FX está cerrada por procesos de facturación</b> entre los días 28 y 31, ambos inclusive. En esos días, por tanto, no se puede efectuar ninguna tramitación, por lo que cualquier petición se tramitará el día 1 del mes siguiente.</p>
						
						<p>Fechas límite orientativas para tramitación PLANAS (los cambios solicitados a partir de ese día se tramitarán en el período siguiente):</p>
						
						<p><b>CAMBIOS EN EL ACUERDO</b></p>
						<ul>
						<li>Alta CIF/servicios: Los cambios son efectivos al mes siguiente.</li>
						<li>Baja: La última factura mensual se emite el 28 del mismo mes de tramitación; la de regularización se emite el mismo mes, si se ha tramitado la baja antes del día 15, y al mes siguiente para tramitaciones posteriores a ese día.</li>
						</ul>
						
						<p><b>CAMBIOS EN LA FACTURA</b> (hasta el <b>día 15</b> los cambios son efectivos para la factura del 28 del mismo mes):</p>
						<ul>
						<li>Cambios económicos: Importe.</li>
						<li>Cambios administrativos: Cuenta corriente, domicilios, email, etc.</li>
						</ul>
						
						<p>NOTA: Considerar siempre el margen de un día para proceder a la tramitación y la influencia de las festividades del calendario.</p>
					</div>
				
				</div>
			</div>
			<div id="right" class="col-md-2">
				<div id="userConnected" sec:authorize="isAuthenticated()">
					<span sec:authentication="principal.username" >Usuario</span>
				</div><!-- #userConnected -->
			</div>
			
			

		</div><!-- .container -->

	</div><!-- #wrap -->


	
<div th:replace="html/footer :: footer">

	<div id="footer" th:fragment="footer">
		<div class="container">
			<p class="text-muted credit" data-th-text="#{app.name}">
				footer
			</p>


	
		<!--[if lt IE 9]>
			<script 
				src="../../js/jquery-1.11.2.min.js"
				th:src="@{/js/jquery-1.11.2.min.js}"></script>
		<![endif]-->
		
		<!--[if gte IE 9]> 
			<script 
				src="../../js/jquery-2.1.1.min.js"
				th:src="@{/js/jquery-2.1.1.min.js}"></script>
		<![endif]-->
		
		<!--[if !IE]> -->
			<script 
				src="../../js/jquery-2.1.1.min.js"
				th:src="@{/js/jquery-2.1.1.min.js}"></script>
		<!-- <![endif]-->
		
			
			<script src="../../js/bootstrap.js"
				th:src="@{/js/bootstrap.js}"></script>
			<script src="../../js/jquery-ui.js"
				th:src="@{/js/jquery-ui.js}"></script>
			<script src="../../js/heartcode-canvasloader-min.js"
				th:src="@{/js/heartcode-canvasloader-min.js}"></script>
			<script src="../../js/bootstrap-datepicker.js"
				th:src="@{/js/bootstrap-datepicker.js}"></script>
			<script src="../../js/bootstrap-datepicker.es.js"
				th:src="@{/js/locales/bootstrap-datepicker.es.js}" charset="UTF-8"></script>
			<script src="../../js/bootstrap-datepicker.ca.js"
				th:src="@{/js/locales/bootstrap-datepicker.ca.js}" charset="UTF-8"></script>
			
		</div>
	</div>

</div>


</body>
</html>