<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<head th:replace="html/header :: head">
	<meta charset="UTF-8" />
	<title>Tráfico Estándar</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<link rel="shortcut icon" th:href="@{/img/icons/favicon.ico}" />

	<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
	<link rel="stylesheet" type="text/css"
		href="../../css/jquery.fileupload.css"
		th:href="@{/css/jquery.fileupload.css}" />
	<link rel="stylesheet" type="text/css"
		href="../../css/jquery.fileupload-ui.css"
		th:href="@{/css/jquery.fileupload-ui.css}" />
	
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" media="screen"
		href="../../css/bootstrap.css" 
		th:href="@{/css/bootstrap.css}" />
	<link rel="stylesheet" type="text/css" media="screen"
		href="../../css/bootstrap-sticky-footer.css" 
		th:href="@{/css/bootstrap-sticky-footer.css}" />

	<!-- app -->
	<link rel="stylesheet" type="text/css" media="screen"
		href="../../css/app.css" 
		th:href="@{/css/app.css}" />

	<!-- dropzone -->
	<link rel="stylesheet" type="text/css" media="screen"
		href="../../css/dropzone.css" 
		th:href="@{/css/dropzone.css}" />

	<!-- datepicker -->
	<link rel="stylesheet" type="text/css" media="screen"
		href="../../css/bootstrap-datepicker.css" 
		th:href="@{/css/bootstrap-datepicker.css}" />
	
	<title data-th-text="#{app.name}">Titulo</title>

</head>
<body>

<!-- Docs master nav -->
<div th:replace="html/header :: header">
	<div class="navbar navbar-inverse navbar-static-top bs-docs-nav"
	id="top" role="banner" th:fragment="header">	
		<div class="container">
			<div class="navbar-header">
				<a th:href="@{/index.jsp}" class="navbar-brand" 
					data-th-text="#{app.name}">AAEE</a>
			</div>
			<div class="collapse navbar-collapse bs-navbar-collapse"
				role="navigation">
				<ul class="nav navbar-nav">
					<li class="active"><a
						th:href="@{/index.jsp}"
						data-th-text="#{go.home}">Go Home
					</a></li>
	
					<li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" > 
							<span data-th-text="#{menu.informes}">menu.informes</span>
							<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a
									th:href="@{/role/pages/1}" data-th-text="#{role.form.list.title}">
										role.form.list.title
								</a></li>
								<li><a
									th:href="@{/usuario/pages/1}" data-th-text="#{usuario.form.list.title}">
										usuario.form.list.title
								</a></li>
								<li class="divider"></li>
								<li><a
									th:href="@{/consulta/pages/1}" data-th-text="#{consulta.form.list.title}">
										consulta.form.list.title
								</a></li>
								<li><a
									th:href="@{/pestanya/pages/1}" data-th-text="#{pestanya.form.list.title}">
										pestanya.form.list.title
								</a></li>
								<li><a
									th:href="@{/informe/pages/1}" data-th-text="#{informe.form.list.title}">
										informe.form.list.title
								</a></li>
								<li><a
									th:href="@{/regladenegocio/pages/1}" data-th-text="#{regladenegocio.form.list.title}">
										regladenegocio.form.list.title
								</a></li>
							</ul></li>
			
				</ul>
			</div>
		</div>
	</div>
</div>

<div id="wrap">
	<div class="container">
	
		<div th:replace="html/breadcrumb-trafico :: breadcrumb-traficos"></div>
	
		<form method="post" class="form-horizontal"
			th:action="@{/acuerdotrf/edit/{id}(id=${trf.id})}" 
			th:object="${trf}">

					<div class="form-group">
						<label for="id" class="col-sm-2 control-label" th:text="#{acuerdotrf.form.field.id}">
							ID
						</label>
						<div class="col-sm-2">
							<input id="id" name="id" type="text" 
							class="form-control input-sm" 
							th:field="${trf.id}" 
							value="123456789" 
							th:disabled="disabled"
							disabled="disabled"
							/>
						</div> 
					</div>
			
			
			
					<div class="form-group">
						<label for="ambitoDeTrafico" class="col-sm-2 control-label" th:text="#{acuerdotrf.form.field.ambitoDeTrafico}">
							Ámbito de Tráfico
						</label>
						<div class="col-sm-10">
							<input id="ambitoDeTrafico" name="ambitoDeTrafico" type="text" 
							class="form-control input-sm" 
							th:field="${trf.ambitoDeTrafico}" 
							value="M" 
							th:disabled="disabled"
							disabled="disabled"
							/>
						</div> 
					</div>
			
					<div class="form-group">
						<label for="descAmbitoDeTrafico" class="col-sm-2 control-label" th:text="#{acuerdotrf.form.field.descAmbitoDeTrafico}">
							Desc.Ámbito de Tráfico
						</label>
						<div class="col-sm-10">
							<input id="descAmbitoDeTrafico" name="descAmbitoDeTrafico" type="text" 
							class="form-control input-sm" 
							th:field="${trf.descAmbitoDeTrafico}" 
							value="Lorem ipsum dolor..." 
							th:disabled="disabled"
							disabled="disabled"
							/>
						</div> 
					</div>
			
					<div class="form-group">
						<label for="porcentajeOnnet" class="col-sm-2 control-label" 
							th:text="#{acuerdotrf.form.field.porcentajeOnnet}">
							Porcentaje Onnet
						</label>
						<div class="col-sm-2">
							<input id="porcentajeOnnet" name="porcentajeOnnet" type="number" 
							class="form-control input-sm" 
							th:field="${trf.porcentajeOnnet}"
							step="0.01" min="0.00" max="100.00" 
							value="12.99" 
							th:disabled="disabled"
							disabled="disabled"
							/>
						</div> 
					</div>
			
					<div class="form-group">
						<label for="tipoDescuento" class="col-sm-2 control-label" th:text="#{acuerdotrf.form.field.tipoDescuento}">
							Tipo Descuento
						</label>
						<div class="col-sm-2">
							<input id="tipoDescuento" name="tipoDescuento" type="text" 
							class="form-control input-sm" 
							th:field="${trf.tipoDescuento}" 
							value="Lorem ipsum dolor..." 
							th:disabled="disabled"
							disabled="disabled"
							/>
						</div> 
						
						<label for="precioPorMinuto" class="col-sm-2 control-label" th:text="#{acuerdotrf.form.field.precioPorMinuto}">
							Precio por Minuto
						</label>
						<div class="col-sm-2">
							<input id="precioPorMinuto" name="precioPorMinuto" type="number" 
							class="form-control input-sm" 
							th:field="${trf.precioPorMinuto}"
							step="0.000001" min="0.000000"  
							value="0.123456" 
							th:disabled="disabled"
							disabled="disabled"
							/>
						</div> 
						
						<label for="porcentajeDescuento" class="col-sm-2 control-label" th:text="#{acuerdotrf.form.field.porcentajeDescuento}">
							Porcentaje Descuento
						</label>
						<div class="col-sm-2">
							<input id="porcentajeDescuento" name="porcentajeDescuento" type="number" 
							class="form-control input-sm" 
							th:field="${trf.porcentajeDescuento}"
							step="0.01" min="0.00" max="100.00" 
							value="12.99" 
							th:disabled="disabled"
							disabled="disabled"
							/>
						</div> 
					</div>
					
					<div class="form-group form-param">
				    	<div class="col-md-offset-4 col-md-4">
						    <p class="text-center">
							    <a th:href="@{/acuerdo/trafico/{id}/1(id=${trf.idAcuerdo})}"
								    id="btn-back" class="btn btn-default"  th:text="#{acuerdotrf.form.btn.back}"> Atrás
							    </a>
						    </p>
  						</div>
  					</div>
					
					 <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
			
		</form>
	
	</div><!-- .container -->	
</div><!-- #wrap -->	
	
<div th:replace="html/footer :: footer">

	<div id="footer" th:fragment="footer">
		<div class="container">
			<p class="text-muted credit" data-th-text="#{app.name}">
				footer
			</p>


	
		<!--[if lt IE 9]>
			<script 
				src="../../js/jquery-1.11.2.min.js"
				th:src="@{/js/jquery-1.11.2.min.js}"></script>
		<![endif]-->
		
		<!--[if gte IE 9]> 
			<script 
				src="../../js/jquery-2.1.1.min.js"
				th:src="@{/js/jquery-2.1.1.min.js}"></script>
		<![endif]-->
		
		<!--[if !IE]> -->
			<script 
				src="../../js/jquery-2.1.1.min.js"
				th:src="@{/js/jquery-2.1.1.min.js}"></script>
		<!-- <![endif]-->
		
			
			<script src="../../js/bootstrap.js"
				th:src="@{/js/bootstrap.js}"></script>
			<script src="../../js/jquery-ui.js"
				th:src="@{/js/jquery-ui.js}"></script>
			<script src="../../js/heartcode-canvasloader-min.js"
				th:src="@{/js/heartcode-canvasloader-min.js}"></script>
			<script src="../../js/bootstrap-datepicker.js"
				th:src="@{/js/bootstrap-datepicker.js}"></script>
			<script src="../../js/bootstrap-datepicker.es.js"
				th:src="@{/js/locales/bootstrap-datepicker.es.js}" charset="UTF-8"></script>
			<script src="../../js/bootstrap-datepicker.ca.js"
				th:src="@{/js/locales/bootstrap-datepicker.ca.js}" charset="UTF-8"></script>
			
		</div>
	</div>

</div>


</body>
</html>