<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

	<head th:replace="html/header :: head">
		<meta charset="UTF-8" />
		<title th:text="#{app.name}">acuerdo-show</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		
		
		<link rel="shortcut icon" th:href="@{/img/icons/favicon.ico}" />
		
		<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
		<link rel="stylesheet" type="text/css"
			href="../../../css/jquery.fileupload.css"
			th:href="@{/css/jquery.fileupload.css}" />
		<link rel="stylesheet" type="text/css"
			href="../../../css/jquery.fileupload-ui.css"
			th:href="@{/css/jquery.fileupload-ui.css}" />
		
		
		<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css" media="screen"
			href="../../../css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
		<link rel="stylesheet" type="text/css" media="screen"
			href="../../../css/bootstrap-sticky-footer.css"
			th:href="@{/css/bootstrap-sticky-footer.css}" />
		
		
		<!-- app -->
		<link rel="stylesheet" type="text/css" media="screen"
			href="../../../css/app.css" th:href="@{/css/app.css}" />
		
		<!-- dropzone -->
		<link rel="stylesheet" type="text/css" media="screen"
			href="../../../css/dropzone.css" th:href="@{/css/dropzone.css}" />
		
		<!-- datepicker -->
		<link rel="stylesheet" type="text/css" media="screen"
			href="../../../css/bootstrap-datepicker.css"
			th:href="@{/css/bootstrap-datepicker.css}" />
	
	</head>
<body>
	<!-- Docs master nav -->
	<div th:replace="html/header :: header">
		<div class="navbar navbar-inverse navbar-static-top bs-docs-nav"
			id="top" role="banner">
			<div class="container">
				<div class="navbar-header">
					<a th:href="@{/index.jsp}" class="navbar-brand"
						data-th-text="#{app.name}">Aplicación</a>
				</div>
				<nav class="collapse navbar-collapse bs-navbar-collapse"
					role="navigation">
					<ul class="nav navbar-nav">
						<li class="active"><a th:href="@{/index.jsp}"
							data-th-text="#{go.home}">Go Home </a></li>

						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown"> <span
								data-th-text="#{menu.informes}">menu.informes</span> <b
								class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/role/pages/1}"
									data-th-text="#{role.form.list.title}">
										role.form.list.title </a></li>
								<li><a th:href="@{/usuario/pages/1}"
									data-th-text="#{usuario.form.list.title}">
										usuario.form.list.title </a></li>
								<li class="divider"></li>
								<li><a th:href="@{/usuario/pages/1}"
									data-th-text="#{usuario.form.list.title}">
										usuario.form.list.title </a></li>
								<li><a th:href="@{/pestanya/pages/1}"
									data-th-text="#{pestanya.form.list.title}">
										pestanya.form.list.title </a></li>
								<li><a th:href="@{/informe/pages/1}"
									data-th-text="#{informe.form.list.title}">
										informe.form.list.title </a></li>
								<li><a th:href="@{/regladenegocio/pages/1}"
									data-th-text="#{regladenegocio.form.list.title}">
										regladenegocio.form.list.title </a></li>
							</ul></li>

					</ul>
				</nav>
			</div>
		</div>
	</div>

	<div id="wrap">
		<div class="container">
			<div class="panel">
				<div th:replace="html/findcif/acuerdo-info :: acuerdo-info"></div>
			</div><!-- .panel -->
			
			<div id="pestanyes">
				<ul id="acuerdo-show-tabs" class="nav nav-tabs" data-tabs="tabs">
					<li class="active"><a href="#listado-tramitaciones" data-toggle="tab">Tramitaciones</a></li>
					<li><a href="#listado-facturas" data-toggle="tab">Facturas</a></li>
					<li><a href="#tram-mod-adm" data-toggle="tab">Cambios Administrativos</a></li>
					<li><a href="#tram-mod-cond" data-toggle="tab">Modificación Condiciones</a></li>
					<li><a href="#tram-mod-otros" data-toggle="tab">Otros</a></li>
					<li><a href="#info-regus" data-toggle="tab">Info.Regus</a></li>
				</ul>
				<div id="pestanyes-content" class="tab-content">
				
					<div id="listado-tramitaciones" class="tab-pane active">
						<div th:replace="html/findcif/tram-list :: listado-tramitaciones-table">
							<div class="well well-sm">Listado Tramitaciones</div>
						</div>
					</div>
					
					<div id="listado-facturas" class="tab-pane">
						<div class="well well-sm">Listado Facturas</div>
					</div>
					
					<div id="tram-mod-adm" class="tab-pane">
						<div class="well well-sm">Cambios Administrativos</div>
					</div>
					
					<div id="tram-mod-cond" class="tab-pane">
						<div class="well well-sm">Modificación Condiciones</div>
					</div>
					
					<div id="tram-mod-otros" class="tab-pane">
						<div class="well well-sm">Otros</div>
					</div>
					
					<div id="info-regus" class="tab-pane">
						<div class="well well-sm">Info.Regus</div>
					</div>
				</div>
			</div>


		</div><!-- .container -->
	</div><!-- #wrap -->
	
	
		<div th:replace="html/footer :: footer">
		
			<div id="footer" th:fragment="footer">
				<div class="container">
					<p class="text-muted credit" data-th-text="#{app.name}">
						footer
					</p>
		
		
			
				<!--[if lt IE 9]>
					<script 
						src="../../../js/jquery-1.11.2.min.js"
						th:src="@{/js/jquery-1.11.2.min.js}"></script>
				<![endif]-->
				
				<!--[if gte IE 9]> 
					<script 
						src="../../../js/jquery-2.1.1.min.js"
						th:src="@{/js/jquery-2.1.1.min.js}"></script>
				<![endif]-->
				
				<!--[if !IE]> -->
					<script 
						src="../../../js/jquery-2.1.1.min.js"
						th:src="@{/js/jquery-2.1.1.min.js}"></script>
				<!-- <![endif]-->
				
					
					<script src="../../../js/bootstrap.js"
						th:src="@{/js/bootstrap.js}"></script>
					<script src="../../../js/jquery-ui.js"
						th:src="@{/js/jquery-ui.js}"></script>
					<script src="../../../js/heartcode-canvasloader-min.js"
						th:src="@{/js/heartcode-canvasloader-min.js}"></script>
					<script src="../../../js/bootstrap-datepicker.js"
						th:src="@{/js/bootstrap-datepicker.js}"></script>
					<script src="../../../js/bootstrap-datepicker.es.js"
						th:src="@{/js/locales/bootstrap-datepicker.es.js}" charset="UTF-8"></script>
					<script src="../../../js/bootstrap-datepicker.ca.js"
						th:src="@{/js/locales/bootstrap-datepicker.ca.js}" charset="UTF-8"></script>
					
				</div>
			</div>
		
		</div>
	
	
</body>
</html>