<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

	<head th:replace="html/header :: head">
		<meta charset="UTF-8" />
		<title th:text="#{app.name}">address-list</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		
		
		<link rel="shortcut icon" th:href="@{/img/icons/favicon.ico}" />
		
		<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
		<link rel="stylesheet" type="text/css"
			href="../../../css/jquery.fileupload.css"
			th:href="@{/css/jquery.fileupload.css}" />
		<link rel="stylesheet" type="text/css"
			href="../../../css/jquery.fileupload-ui.css"
			th:href="@{/css/jquery.fileupload-ui.css}" />
		
		
		<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css" media="screen"
			href="../../../css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
		<link rel="stylesheet" type="text/css" media="screen"
			href="../../../css/bootstrap-sticky-footer.css"
			th:href="@{/css/bootstrap-sticky-footer.css}" />
		
		
		<!-- app -->
		<link rel="stylesheet" type="text/css" media="screen"
			href="../../../css/app.css" th:href="@{/css/app.css}" />
		
		<!-- dropzone -->
		<link rel="stylesheet" type="text/css" media="screen"
			href="../../../css/dropzone.css" th:href="@{/css/dropzone.css}" />
		
		<!-- datepicker -->
		<link rel="stylesheet" type="text/css" media="screen"
			href="../../../css/bootstrap-datepicker.css"
			th:href="@{/css/bootstrap-datepicker.css}" />
	
	</head>
<body>

	<div id="wrap">
		<div class="container">
					<div 
						th:fragment="listado-dir-table" 
						id="listado-dirs-table" 
						th:if="${#lists.size(direcciones) > 0}"  
						>
						<div class="row">
							<table
								class="table table-hover table-striped table-bordered table-condensed">
								<thead>
									<tr>
										<th th:text="#{dir.persona.contacto}">Persona Contacto</th>
										<th th:text="#{dir.direccion.envio.factura}">Dirección</th>
										<th th:text="#{dir.poblacion}">Localidad</th>
										<th th:text="#{dir.cp}">CP</th>
										<th><span class="glyphicon glyphicon-copy"></span></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="dir : ${direcciones}">
										<td th:text="${dir.personaContacto}">personaContacto</td>
										<td th:text="${dir.direccionEnvioFactura}">direccionEnvioFactura</td>
										<td th:text="${dir.poblacion}">poblacion</td>
										<td th:text="${dir.cp}">cp</td>
										<td><a href="#" th:id="${dir.id}" class="dir-copy">
											<span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
											</a></td>
									</tr>
								</tbody>
							</table>
						</div><!-- .row -->
					</div><!-- #listado-ccc -->
					


		</div><!-- .container -->
	</div><!-- #wrap -->
	
	
		<div th:replace="html/footer :: footer">
		
			<div id="footer" th:fragment="footer">
				<div class="container">
					<p class="text-muted credit" data-th-text="#{app.name}">
						footer
					</p>
		
		
			
				<!--[if lt IE 9]>
					<script 
						src="../../../js/jquery-1.11.2.min.js"
						th:src="@{/js/jquery-1.11.2.min.js}"></script>
				<![endif]-->
				
				<!--[if gte IE 9]> 
					<script 
						src="../../../js/jquery-2.1.1.min.js"
						th:src="@{/js/jquery-2.1.1.min.js}"></script>
				<![endif]-->
				
				<!--[if !IE]> -->
					<script 
						src="../../../js/jquery-2.1.1.min.js"
						th:src="@{/js/jquery-2.1.1.min.js}"></script>
				<!-- <![endif]-->
				
					
					<script src="../../../js/bootstrap.js"
						th:src="@{/js/bootstrap.js}"></script>
					<script src="../../../js/jquery-ui.js"
						th:src="@{/js/jquery-ui.js}"></script>
					<script src="../../../js/heartcode-canvasloader-min.js"
						th:src="@{/js/heartcode-canvasloader-min.js}"></script>
					<script src="../../../js/bootstrap-datepicker.js"
						th:src="@{/js/bootstrap-datepicker.js}"></script>
					<script src="../../../js/bootstrap-datepicker.es.js"
						th:src="@{/js/locales/bootstrap-datepicker.es.js}" charset="UTF-8"></script>
					<script src="../../../js/bootstrap-datepicker.ca.js"
						th:src="@{/js/locales/bootstrap-datepicker.ca.js}" charset="UTF-8"></script>
					
				</div>
			</div>
		
		</div>
	
	
</body>
</html>