<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

	<head th:replace="html/header :: head">
		<meta charset="UTF-8" />
		<title th:text="#{app.name}">tram-mod-dom-form</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		
		
		<link rel="shortcut icon" th:href="@{/img/icons/favicon.ico}" />
		
		<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
		<link rel="stylesheet" type="text/css"
			href="../../../css/jquery.fileupload.css"
			th:href="@{/css/jquery.fileupload.css}" />
		<link rel="stylesheet" type="text/css"
			href="../../../css/jquery.fileupload-ui.css"
			th:href="@{/css/jquery.fileupload-ui.css}" />
		
		
		<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css" media="screen"
			href="../../../css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
		<link rel="stylesheet" type="text/css" media="screen"
			href="../../../css/bootstrap-sticky-footer.css"
			th:href="@{/css/bootstrap-sticky-footer.css}" />
		
		
		<!-- app -->
		<link rel="stylesheet" type="text/css" media="screen"
			href="../../../css/app.css" th:href="@{/css/app.css}" />
		
		<!-- dropzone -->
		<link rel="stylesheet" type="text/css" media="screen"
			href="../../../css/dropzone.css" th:href="@{/css/dropzone.css}" />
		
		<!-- datepicker -->
		<link rel="stylesheet" type="text/css" media="screen"
			href="../../../css/bootstrap-datepicker.css"
			th:href="@{/css/bootstrap-datepicker.css}" />
	
	</head>
<body>
	<!-- Docs master nav -->
	<div th:replace="html/header :: header">
		<div class="navbar navbar-inverse navbar-static-top bs-docs-nav"
			id="top" role="banner">
			<div class="container">
				<div class="navbar-header">
					<a th:href="@{/index.jsp}" class="navbar-brand"
						data-th-text="#{app.name}">Aplicación</a>
				</div>
				<nav class="collapse navbar-collapse bs-navbar-collapse"
					role="navigation">
					<ul class="nav navbar-nav">
						<li class="active"><a th:href="@{/index.jsp}"
							data-th-text="#{go.home}">Go Home </a></li>

						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown"> <span
								data-th-text="#{menu.informes}">menu.informes</span> <b
								class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/role/pages/1}"
									data-th-text="#{role.form.list.title}">
										role.form.list.title </a></li>
								<li><a th:href="@{/usuario/pages/1}"
									data-th-text="#{usuario.form.list.title}">
										usuario.form.list.title </a></li>
								<li class="divider"></li>
								<li><a th:href="@{/usuario/pages/1}"
									data-th-text="#{usuario.form.list.title}">
										usuario.form.list.title </a></li>
								<li><a th:href="@{/pestanya/pages/1}"
									data-th-text="#{pestanya.form.list.title}">
										pestanya.form.list.title </a></li>
								<li><a th:href="@{/informe/pages/1}"
									data-th-text="#{informe.form.list.title}">
										informe.form.list.title </a></li>
								<li><a th:href="@{/regladenegocio/pages/1}"
									data-th-text="#{regladenegocio.form.list.title}">
										regladenegocio.form.list.title </a></li>
							</ul></li>

					</ul>
				</nav>
			</div>
		</div>
	</div>

	<div id="wrap">
		<div class="container">
			<div class="tab-content">
				<div th:fragment="tram-mod-dom-form">
				
					<div>
						<div class="row form-group form-inline">
							<div class="col-sm-5">
								<div class="input-group input-group-sm">
									<span 
										class="input-group-addon primary" 
										id="input-group-addon-tipoDoc"
										th:text="#{acuerdo.form.field.acuerdofx}">Acuerdo FX</span>
									<input type="text" 
										class="form-control" 
										readonly="readonly"
										th:value="${acuerdo.acuerdoFX}"
										placeholder="L" />
								</div>
							</div>
							<div class="col-sm-7">
								<div class="input-group input-group-sm">
									<span 
										class="input-group-addon primary" 
										id="input-group-addon-nombre"
										th:text="#{acuerdo.form.field.nombre}">Empresa</span>
									<input type="text" 
										class="form-control" 
										readonly="readonly"
										th:value="${acuerdo.nombre}"
										placeholder="NombreEmpresa" />
								</div>
							</div>
						</div><!-- .row form-group form-inline -->
					</div>
					
					<div th:replace="html/findcif/address-list :: listado-dir-table"></div>
				
					<form 
						id="tram-mod-dom-form-step-1" 
						data-toggle="validator" role="form"
						method="POST" 
						th:object="${tramModDomForm}"
						class="form-horizontal"
						th:action="@{/tram/moddom/conf}">
				
							<div id="tram-mod-dom-step-1" class="col-md-offset-1 col-md-10">
			                    <div id="tram-mod-dom-aclaraciones" 
			                    	class="alert alert-info" role="alert">
			                        <strong>Modificación de Direcciones</strong>, fiscal y de envío de factura.
			                    </div>
								<div id="tram-mod-dom-soc" 
									class="row form-inline well well-sm has-feedback">
									<h4 th:text="#{dom.social}">Domicilio Social</h4>
									<div class="form-group col-sm-12">
										<div class="input-group input-group-sm">
											<span class="input-group-addon" 
												id="input-group-addon-tram-mod-dom-soc-aa" 
												th:text="#{tram.form.field.aa}">A la atención de:</span>
											<input 
												id="dom-soc-aa"
												type="text" class="form-control" 
												th:field="${tramModDomForm.domsoc.aa}"
												required="required"
												placeholder="Persona de Contacto" />
										</div>
									</div>
									<div class="form-group col-sm-12">
										<div class="input-group input-group-sm">
											<span class="input-group-addon" 
												id="input-group-addon-tram-mod-dom-soc-direccion" 
												th:text="#{tram.form.field.direccion}">Dirección</span>
											<input 
												id="dom-soc-dir"
												type="text" class="form-control" 
												th:field="${tramModDomForm.domsoc.direccion}"
												required="required"
												placeholder="Calle, número Piso Puerta" />
										</div>
									</div>
									<div class="form-group col-sm-2">
										<div class="input-group input-group-sm">
											<span class="input-group-addon" 
												id="input-group-addon-tram-mod-dom-soc-cp" 
												th:text="#{tram.form.field.cp}">CP</span>
											<input 
												id="dom-soc-cp"
												type="text" class="form-control" 
												th:field="${tramModDomForm.domsoc.cp}"
												size="5"
												maxlength="5"
												required="required"
												placeholder="00000" />
										</div>
									</div>
									<div class="form-group col-sm-6">
										<div class="input-group input-group-sm">
											<span class="input-group-addon" 
												id="input-group-addon-tram-mod-dom-soc-localidad" 
												th:text="#{tram.form.field.localidad}">Localidad</span>
											<input 
												id="dom-soc-localidad"
												type="text" class="form-control" 
												th:field="${tramModDomForm.domsoc.localidad}"
												required="required"
												placeholder="Localidad" />
										</div>
									</div>
									<div class="form-group col-sm-4">
										<div class="input-group input-group-sm">
											<span class="input-group-addon" 
												id="input-group-addon-tram-mod-dom-soc-provincia" 
												th:text="#{tram.form.field.provincia}">Provincia</span>
											<input 
												id="dom-soc-provincia"
												type="text" class="form-control" 
												th:field="${tramModDomForm.domsoc.provincia}"
												readonly="readonly"
												placeholder="Provincia" />
										</div>
									</div>
								</div>
								
								<div id="copy-options" 
									class="row form-group form-inline">
									<a href="#"
										id="btn-dom-copy" class="btn btn-default"> 
										<span th:text="#{copiar.domicilio}">Copiar Domicilio</span>
										<span class="glyphicon glyphicon-arrow-down"></span>
									</a>
									
								</div>

								<div id="tram-mod-dom-fac" 
									class="row form-group form-inline well well-sm">
									<h4 th:text="#{dom.envio.factura}">Domicilio Envío de Factura</h4>
									<div class="col-sm-12">
										<div class="input-group input-group-sm">
											<span class="input-group-addon" 
												id="input-group-addon-tram-mod-dom-fac-aa" 
												th:text="#{tram.form.field.aa}">A la atención de:</span>
											<input 
												id="dom-fac-aa"
												type="text" class="form-control" 
												th:field="${tramModDomForm.domfac.aa}"
												required="required"
												placeholder="Persona de Contacto" />
										</div>
									</div>
									<div class="col-sm-12">
										<div class="input-group input-group-sm">
											<span class="input-group-addon" 
												id="input-group-addon-tram-mod-dom-fac-direccion" 
												th:text="#{tram.form.field.direccion}">Dirección</span>
											<input 
												id="dom-fac-dir"
												type="text" class="form-control" 
												th:field="${tramModDomForm.domfac.direccion}"
												required="required"
												placeholder="Calle, número Piso Puerta" />
										</div>
									</div>
									<div class="col-sm-2">
										<div class="input-group input-group-sm">
											<span class="input-group-addon" 
												id="input-group-addon-tram-mod-dom-fac-cp" 
												th:text="#{tram.form.field.cp}">CP</span>
											<input 
												id="dom-fac-cp"
												type="text" class="form-control" 
												th:field="${tramModDomForm.domfac.cp}"
												size="5"
												maxlength="5"
												required="required"
												placeholder="00000" />
										</div>
									</div>
									<div class="col-sm-6">
										<div class="input-group input-group-sm">
											<span class="input-group-addon" 
												id="input-group-addon-tram-mod-dom-fac-localidad" 
												th:text="#{tram.form.field.localidad}">Localidad</span>
											<input 
												id="dom-fac-localidad"
												type="text" class="form-control" 
												th:field="${tramModDomForm.domfac.localidad}"
												required="required"
												placeholder="Localidad" />
										</div>
									</div>
									<div class="col-sm-4">
										<div class="input-group input-group-sm">
											<span class="input-group-addon" 
												id="input-group-addon-tram-mod-dom-fac-provincia" 
												th:text="#{tram.form.field.provincia}">Provincia</span>
											<input 
												id="dom-fac-provincia"
												type="text" class="form-control" 
												th:field="${tramModDomForm.domfac.provincia}"
												readonly="readonly"
												placeholder="Provincia" />
										</div>
									</div>
								</div>
								
								<div id="tram-mod-dom-fecha-prevista" 
									class="row form-group form-inline">
									<div class="col-sm-6">
										<div class="input-group input-group-sm">
											<span class="input-group-addon" 
												id="input-group-addon-tram-fecha-prevista" 
												th:text="#{tram.form.field.fecha.prevista}">Fecha Tramitación Prevista</span>
											<input 
												type="text" class="form-control" 
												disabled="disabled"
												th:value="${tramModDomForm.fechaTramPrevista != null ? #dates.format(tramModDomForm.fechaTramPrevista, 'dd-MM-yyyy') : 'Sin informar'}"
												placeholder="31/12/2500" />
										</div>
									</div>
								</div>
								
								<div id="tram-mod-dom-peticion" 			class="row form-group form-inline">
									<div class="col-sm-12">
										<h4><span th:text="#{tram.form.field.peticion}">Observaciones</span></h4>
										<textarea 
											class="form-control input-sm span12" 
											th:field="${tramModDomForm.peticionTramitacion}"
											rows = "5"
											cols = "120"
											placeholder="Observaciones..." ></textarea>
									</div>
								</div>
								
								<!-- .row -->
							</div><!-- tram-mod-dom-step-1 -->
							<!-- Spring Security -->
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
							<input type="hidden" th:field="${tramModDomForm.idAcuerdo}" />
							 
							<!-- Botones Save & Back -->
							<div class="form-group">
								<div class="col-md-offset-4 col-md-4">
									<p class="text-center">
										<button 
											id="tram-mod-dom-form-btn-save" 
											type="submit" 
											class="btn btn-primary ladda-button" 
											data-style="expand-right" >
											<span 
												class="ladda-label"
												th:text="#{tram.form.btn.save}">tram.form.btn.save</span>
										</button>
										<a th:href="@{/findcif/show/{idAcuerdo}(idAcuerdo=${tramModDomForm.idAcuerdo})}"
											id="btn-back" class="btn btn-default"> 
											<span th:text="#{tram.form.btn.back}"></span>
										</a>
									</p>
								</div>
							</div>
					</form>
				</div>
			</div>


		</div><!-- .container -->
	</div><!-- #wrap -->
	
	<div th:replace="html/footer :: footer"></div>
	
</body>
</html>