<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="html/header :: head">
<meta charset="UTF-8" />
<title th:text="#{app.name}">AAEE Utilidades</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />


<link rel="shortcut icon" th:href="@{/img/icons/favicon.ico}" />

<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" type="text/css"
	href="../../../css/jquery.fileupload.css"
	th:href="@{/css/jquery.fileupload.css}" />
<link rel="stylesheet" type="text/css"
	href="../../../css/jquery.fileupload-ui.css"
	th:href="@{/css/jquery.fileupload-ui.css}" />


<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" media="screen"
	href="../../../css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css" media="screen"
	href="../../../css/bootstrap-sticky-footer.css"
	th:href="@{/css/bootstrap-sticky-footer.css}" />


<!-- app -->
<link rel="stylesheet" type="text/css" media="screen"
	href="../../../css/app.css" th:href="@{/css/app.css}" />

<!-- dropzone -->
<link rel="stylesheet" type="text/css" media="screen"
	href="../../../css/dropzone.css" th:href="@{/css/dropzone.css}" />

<!-- datepicker -->
<link rel="stylesheet" type="text/css" media="screen"
	href="../../../css/bootstrap-datepicker.css"
	th:href="@{/css/bootstrap-datepicker.css}" />

</head>
<body>
	<!-- Docs master nav -->
	<div th:replace="html/header :: header">
		<div class="navbar navbar-inverse navbar-static-top bs-docs-nav"
			id="top" role="banner">
			<div class="container">
				<div class="navbar-header">
					<a th:href="@{/index.jsp}" class="navbar-brand"
						data-th-text="#{app.name}">Aplicación</a>
				</div>
				<nav class="collapse navbar-collapse bs-navbar-collapse"
					role="navigation">
					<ul class="nav navbar-nav">
						<li class="active"><a th:href="@{/index.jsp}"
							data-th-text="#{go.home}">Go Home </a></li>

						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown"> <span
								data-th-text="#{menu.informes}">menu.informes</span> <b
								class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/role/pages/1}"
									data-th-text="#{role.form.list.title}">
										role.form.list.title </a></li>
								<li><a th:href="@{/usuario/pages/1}"
									data-th-text="#{usuario.form.list.title}">
										usuario.form.list.title </a></li>
								<li class="divider"></li>
								<li><a th:href="@{/consulta/pages/1}"
									data-th-text="#{consulta.form.list.title}">
										consulta.form.list.title </a></li>
								<li><a th:href="@{/pestanya/pages/1}"
									data-th-text="#{pestanya.form.list.title}">
										pestanya.form.list.title </a></li>
								<li><a th:href="@{/informe/pages/1}"
									data-th-text="#{informe.form.list.title}">
										informe.form.list.title </a></li>
								<li><a th:href="@{/regladenegocio/pages/1}"
									data-th-text="#{regladenegocio.form.list.title}">
										regladenegocio.form.list.title </a></li>
							</ul></li>

					</ul>
				</nav>
			</div>
		</div>
	</div>

	<div id="wrap">
		<div class="container">

			<div class="tab-content">
				<div class="tab-pane active" id="pestanyes">
					
					<div th:replace="html/pestanyes/pestanya-search :: search"></div>
					
					<div id="no-pestanyes" th:if="${#lists.size(page.content) == 0}"
						class="alert alert-danger col-sm-12" role="alert">
						<p>
							<span><strong th:text="#{acuerdo.without.pestanyes.title}">No existen PESTANYES en el Sistema</strong></span> 
									<span th:text="#{acuerdo.without.pestanyes.explanation}">Lorem ipsum dolor...</span>
						</p>
					</div>

					<div id="info-pestanyes" th:if="${#lists.size(page.content) > 0}"  class="col-sm-12">
						<div th:replace="html/pagination-url :: paginationbar"></div>

						<div class="row">

							<table
								class="table table-hover table-striped table-bordered table-condensed">
								<thead>
									<tr>
										<th>
											<div class="col-sm-1">
												<a href="" 
					 								class="btn btn-primary btn-xs"
													th:href="@{/pestanya/new.html}" ><span class="glyphicon glyphicon-plus"></span></a>
											</div>
										</th>
										<th>ID</th>
										<th th:text="#{pestanya.form.field.nombre}">Nombre</th>
										<th th:text="#{pestanya.form.field.rango}">Rango</th>
										<th th:text="#{pestanya.form.field.numfilainicial}">Num.Fila Inicial</th>
										
										<th th:text="#{pestanya.form.field.consulta}">Consulta</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="pestanya : ${page.content}">
										<td>
											<div class="col-sm-1">
												<a href="" 
					 								class="btn btn-danger btn-xs"
													th:href="@{/pestanya/delete/{id}.html(id=${pestanya.id})}" ><span class="glyphicon glyphicon-remove"></span></a>
											</div>
										</td>

										<td th:text="${pestanya.id}">1234567</td>
										<td th:text="${pestanya.nombre}">Nombre</td>
										<td th:text="${pestanya.rango}">Rango</td>
										<td th:text="${pestanya.numFilaInicial}">1</td>
										
										<td><a href="/consulta/edit/${pestanya.consulta.id}.html"
											th:href="@{/consulta/edit/{id}.html(id=${pestanya.consulta.id})}"> 
											<span th:text="${pestanya.consulta.nombre}"></span>
										</a></td>
										
										<td><a href="/pestanya/edit/${pestanya.id}.html"
											th:href="@{/pestanya/edit/{id}.html(id=${pestanya.id})}"
											class="btn btn-primary btn-xs"> <span
												class="glyphicon glyphicon-edit" aria-hidden="true"></span>
										</a></td>
									</tr>
								</tbody>
							</table>
						</div><!-- .row -->
					</div><!-- #info-pestanyes -->
				</div><!-- #pestanyes -->
			</div><!-- .tab-content -->

		</div><!-- .container -->
	</div><!-- #wrap -->

	<div th:replace="html/footer :: footer"></div>

</body>
</html>