<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head" >
	<meta charset="UTF-8" />
	<title th:text="#{app.name}">Usuario-search</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />


	<link rel="shortcut icon" th:href="@{/img/icons/favicon.ico}" />

	<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
	<link rel="stylesheet" type="text/css"
		href="../../../css/jquery.fileupload.css"
		th:href="@{/css/jquery.fileupload.css}" />
	<link rel="stylesheet" type="text/css"
		href="../../../css/jquery.fileupload-ui.css"
		th:href="@{/css/jquery.fileupload-ui.css}" />
	
	
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" media="screen"
		href="../../../css/bootstrap.css" 
		th:href="@{/css/bootstrap.css}" />
	<link rel="stylesheet" type="text/css" media="screen"
		href="../../../css/bootstrap-sticky-footer.css" 
		th:href="@{/css/bootstrap-sticky-footer.css}" />


	<!-- app -->
	<link rel="stylesheet" type="text/css" media="screen"
		href="../../../css/app.css" 
		th:href="@{/css/app.css}" />

	<!-- dropzone -->
	<link rel="stylesheet" type="text/css" media="screen"
		href="../../../css/dropzone.css" 
		th:href="@{/css/dropzone.css}" />

	<!-- datepicker -->
	<link rel="stylesheet" type="text/css" media="screen"
		href="../../../css/bootstrap-datepicker.css" 
		th:href="@{/css/bootstrap-datepicker.css}" />
	
</head>
<body>

				<div th:fragment="search">
					<div id="search" class="col-sm-12">
						<form method="post" class="form-horizontal form-inline"
							th:action="@{/usuario/search.html}"
							th:object="${searchForm}">
							
							<div class="col-sm-12">
								<div class=" col-sm-2">
									<button id="btn-header" type="button" class="btn-sm btn-primary" >
										<span th:text="#{usuario.title}">Usuarios</span>
									</button>								
								</div>

								<div class=" col-sm-4">
								
									<input id="queBuscar" name="queBuscar" type="text"
									class="form-control input-sm col-sm-12" 
									value=""  />
									
									<button id="btn-save" type="submit" class="btn-sm btn-primary" >
										 <span class="glyphicon glyphicon-search"></span>
									</button>
								</div>

								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
							</div>
						</form>
						
					</div>
				</div>
				
</body>
</html>
